extends inicio

block links
   link(type='text/css', rel='stylesheet', href='./css/mochilas.css')

block contenido
    br
    br
    h2.col-md-6 Materiales de escritura
    .col-md-6
    form(target='paypal' action='https://www.paypal.com/cgi-bin/webscr' method='post')
            input(type='hidden' name='cmd' value='_s-xclick')
            input(type='hidden' name='hosted_button_id' value='QCWG6C8FCM7J4')
            table
                tr
                    td
                        input(type='hidden' name='on0' value='Escritura')
                        | Escritura
                tr
                    td
                        select(name='os0')
                            option(value='Resaltadores Mini') Resaltadores Mini $1.95 USD
                            option(value='Liquido Corrector') Liquido Corrector $1.30 USD
                            option(value='Lapíz Mecanico') Lap&iacute;z Mecanico $1.70 USD
                            option(value='Borrador Pelikano') Borrador Pelikano $1.40 USD
                            option(value='Mina Pentel') Mina Pentel $1.00 USD
            input(type='hidden' name='currency_code' value='USD')
            input(type='image' src='https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif' border='0' name='submit' alt='PayPal - The safer, easier way to pay online!')
            img(alt='' border='0' src='https://www.paypalobjects.com/es_XC/i/scr/pixel.gif' width='1' height='1')
    hr.line
    -var number = 1;
    each lista in modelo
        .card-columns 
            .card.col-md-3(style='width: 25rem;')
                img.card-img-top(src=lista.img width="300" height="300" alt='Card image cap')
                .card-body.text-center   
                    //- td #{number+1}
                    br
                    td #{lista.nombre} 
                    br 
                    p Descripción: #{lista.descripcion}
                    br
                    p Cantidad: #{lista.cantidad}
                    br
                    p Precio: #{lista.precio}
                    br
                    